.topbar-inner, .topbar .fill {
    background-color: #703821;
    background-image: url("../images/wood.jpg");
    background-position: center top;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    color: #ccc;
    padding-top: 40px;
}

.topbar .brand {
    padding-top: 10px;
}

.topbar .tabs {
    border: 0;
    margin-left: 10px;
}

.topbar a {
    color: #ccc;
}

.topbar form .submit {
    display: none;
}

.tabs > li > a:hover,
.tabs .open.dropdown .dropdown-toggle {
    border-color: transparent;
}

.tabs .dropdown-menu {
    top: 40px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.dropdown-toggle:after {
    margin-top: 8px !important;
    color: #fff;
}

body > .container {
    padding-top: 80px;
}

input,
textarea,
select {
    color: #555;
}

form .clearfix > label.error,
form .clearfix .help-block.error,
form .clearfix .help-inline.error {
  color: #b94a48;
}

form .clearfix input.error,
form .clearfix textarea.error {
  color: #b94a48;
  border-color: #ee5f5b;
}

form .clearfix input.error:focus,
form .clearfix textarea.error:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

.form-stacked.share {
    padding-left: 0;
}

/* Custom */

section {
    margin-top: 40px;
}

.share .btn.primary {
    float: right;
    margin-top: -2px;
    margin-right: 80px;
}

ul.flat {
    list-style-type: none;
    margin-left: 0;
}

ul.flat li {
    border-top: 1px solid #DDD;
    height: 70px;
}

ul.flat li:first-child {
    border-top: 0;
}

.user-preview {
    color: #404040;
    display: block;
    text-decoration: none !important;
}

.user-preview img {
    vertical-align: top;
    float: left;
    margin-right: 10px;
}

.user-preview span.name {
    display: block;
    padding-top: 8px;
}

.user-preview:hover span.name {
    text-decoration: underline;
}

.user-preview span.city {
    color: #ccc;
}

blockquote .likes {
    font-size: 12px;
    color: #ccc;
}

blockquote small .easydate {
    color: #ccc;
    text-decoration: none;
}

blockquote small .easydate:hover {
    text-decoration: underline;
}
