.topbar-inner, .topbar .fill {
    background-color: #703821;
    background-image: url("../images/wood.png");
    background-position: center -800px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    color: #ccc;
}

.container {
    padding-top: 80px;
}

input,
textarea,
select {
    color: #555;
}

form .clearfix > label.error,
form .clearfix .help-block.error,
form .clearfix .help-inline.error {
  color: #b94a48;
}

form .clearfix input.error,
form .clearfix textarea.error {
  color: #b94a48;
  border-color: #ee5f5b;
}

form .clearfix input.error:focus,
form .clearfix textarea.error:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
